<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="style.css">

  <title>Редактор</title>
</head>
<body>
  
  <div id="app">

    <!-- <button type="button" v-on:click="decrease">-</button>
    {{number}}
    <button type="button" v-on:click="increase">+</button>

    <p>Количество изменений числа: {{ changeCount }}</p> -->


    <!-- <input type="checkbox" v-model="visible">
    <h1 v-if="visible">Смотрите на меня!</h1> -->


    <!-- <input type="checkbox" v-model="visible">
    <transition name="fade">
      <h1 v-if="visible">Смотрите на меня!</h1>
    </transition> -->

    <p>x^2 + <input type="number" v-model="b">x + <input type="number" v-model="c"> = 0</p>

    <button type="button" v-on:click="reshenie()">Решить</button>

    <p>х1: {{x[0]}}, x2: {{ x[1] }}</p>

  </div>
  
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>

  <script src="script.js"></script>

</body>
</html>